.row{
  margin: 0;
  padding: 0;
}
.col{
  margin: 0;
  padding: 0;
}
.v-header{
  height: 100vh; /* For 100% screen height */
  width:  100vw; /* For 100% screen width */
}

.v-img-holder{
  height: 100%;
  width: 80%;
  margin: 0 auto;
  background-color: red;
  background-image: url("../../assets/img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 10%;
  box-shadow: inset 10px 0px 60px 0px rgba(0,0,0,0.75);
}

@media screen and (max-width: 1200px) {
  .v-img-holder{
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .v-img-holder{
    width: 100%;
    background-size: cover;
    background-position: center;
  }
}
