.row{
  margin: 0;
  padding: 0;
}
.col{
  margin: 0;
  padding: 0;
}
.v-header{
  height: 100vh; /* For 100% screen height */
  width:  100vw; /* For 100% screen width */
}

.v-background{
  position: relative;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  background-image: url("../../assets/img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 10%;
  -webkit-box-shadow: inset 0px 0px 60px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 60px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 60px 0px rgba(0,0,0,0.75);
}

.v-title{
  color: black;
  position: absolute;
  top: 15px;
}

.v-title h1{
  margin: 5px;
  padding: 5px;
  font-size: 80px;
  text-align: center;
}

.v-bottom-title{
  position: fixed;
  bottom: 15px;
  right: 40px;
  z-index: 10000;
}

.v-bottom-down{
  color: whitesmoke;
  position: absolute;
  bottom: 0;
  left: 48%;
  font-size: 50px;
}

.v-bottom-down button{
  background-color: transparent;
  border: 0;
  color: whitesmoke;
  border-radius: 50%;
  width: 80px;
}

.heart{
  color: #bb171d;
}

@media screen and (max-width: 1200px) {
  .v-background{
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .v-title h1{
    font-size: 40px;
  }
  .v-background{
    width: 100%;
    background-size: cover;
    background-position: center;
  }
}
