.v-body{
  width: 80%;
  margin: 0 auto;
}

.v-body .v-left{
  height: 400px;
  background-color: rgba(255,255,255, 0.4);
}

.v-body .v-right{
  height: 400px;
  background-color: rgba(255,255,255, 0.4);
}

@media screen and (max-width: 1200px) {
  .v-body{
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  .v-body{
    width: 100%;
    margin: 0;
  }
}
