.v-body {
  width: 80%;
  margin: 0 auto;
  color: whitesmoke;
}

.v-body .v-left {
  width: 100%;
  padding: 0;
  margin: 0;
}

.v-body .v-right {
  width: 100%;
  padding: 0;
  margin: 0;
}

.title-box {
  position: absolute;
  top: 20%;
  width: 100%;
}

.title-box-1 {
  height: 270px;
}

.title-box-2 {
  height: 200px;
}

.title-box-3 {
  height: 320px;
}

.iban {
  font-size: 40px;
}

.description-box {

}

.title-box p {
  font-size: 60px;
  text-align: center;
}

.description-box p{
  font-size: 40px;
  text-align: center;
}

.v-body .v-right.img-box-invite {
  position: relative;
  height: 600px;
  background-image: url("../../assets/img/invite.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 60%;
  -webkit-box-shadow: inset 0px 0px 60px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 60px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 60px 0px rgba(0, 0, 0, 0.75);
}

.v-body .v-right.img-box-future {
  position: relative;
  height: 570px;
  background-image: url("../../assets/img/future_bw.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 60%;
  -webkit-box-shadow: inset 0px 0px 60px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 60px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 60px 0px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 1200px) {
  .v-body {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  .v-body {
    width: 100%;
    margin: 0;
  }
}
